@using System.Net.Http
@using Newtonsoft.Json
@using Microsoft.AspNetCore.Hosting
@using AberFitnessLayout.Models
@inject IHttpClientFactory httpClientFactory
@inject IHostingEnvironment environment
@{
    var userExists = User.Claims.Select(c => c.Type == "sub").Count() == 1;
    var userIsCoordinator = User.HasClaim("user_type", "coordinator") || User.HasClaim("user_type", "administrator");
    var userIsAdmin = User.HasClaim("user_type", "administrator");
    var httpClient = httpClientFactory.CreateClient();
    var dockerHost = environment.IsProduction() ? "docker1" : "docker2";
    var response = await httpClient.GetAsync($"https://{dockerHost}.aberfitness.biz/layout-service/api/AppLinks");
    var appLinks = new List<AppLink>();
    if (response.IsSuccessStatusCode)
    {
        appLinks = JsonConvert.DeserializeObject<List<AppLink>>(response.Content.ReadAsStringAsync().Result);
    }
}

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">AberFitness</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                @if (appLinks.Count == 0)
                {
                    <li><a href="/">Failed to load navbar content</a></li>
                }
                else
                {

                    @foreach (var link in appLinks)
                    {
                        if (
                            link.AccessLevel == AppLinkAccessLevel.COORDINATOR && !userIsCoordinator ||
                            link.AccessLevel == AppLinkAccessLevel.ADMINISTRATOR && !userIsAdmin
                        )
                        {
                            continue;
                        }


                        if (link.SubLinks.Count == 0)
                        {
                            <li><a href="@link.Uri">@link.DisplayName</a></li>
                        }
                        else
                        {
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@link.DisplayName <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    @foreach (var subLink in link.SubLinks)
                                    {
                                        if (
                                            subLink.AccessLevel == AppLinkAccessLevel.COORDINATOR && !userIsCoordinator ||
                                            subLink.AccessLevel == AppLinkAccessLevel.ADMINISTRATOR && !userIsAdmin
                                        )
                                        {
                                            continue;
                                        }
                                        <li><a href="@subLink.Uri">@subLink.DisplayName</a></li>
                                    }
                                </ul>
                            </li>
                        }
                    }
                }
            </ul>
            @if (userExists)
            {
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/gatekeeper">Profile</a></li>
                    <li><a href="/sign-out">Log Out</a></li>
                </ul>
            }
        </div>
    </div>
</nav>